<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>Bargain Books - {{title}}</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
  </head>
  <body>
    <h1>Welcome to Bargain Books!</h1> 

    <h2>Details for {{title}}:</h2>

        <ul>
        {{#with stats}}
            <li class="stats">Author: {{ auth }}
            <li class="stats">Release Year: {{ year }}
            <li class="stats">Page count: {{ pages }}
        {{/with}}
        </ul>

    <p class="home"><a href="../">Home page</a></p>